.jblock
	&__wrap
		padding-top: 80px
		padding-bottom: 80px
	&__title
		font-family: 'Russo One'
		font-size: 1.8rem
		text-transform: uppercase
		margin-bottom: 60px
		&:after
			content: ''
			display: block
			height: 4px
			max-width: 150px
			background: $jcolor-accent
			margin-top: 20px
	&__content
